# Ignore system files and secrets
*.db
*.db-wal
*.db-shm
*.log
*.yaml.backup
*.yaml.save
home-assistant_v2.db
home-assistant_v2*
home-assistant.log.*
OZW_Log.txt
http.oauth2.token_cache
tts
# Ignore secrets file
secrets.yaml

# Ignore custom_components, add the own custom components with a exception rule
custom_components

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore directories used by add-ons or integrations
.cloud/
.storage/
.dep/
.dashboards/

# Ignore idea
.idea
.exports
.jwt_secret
.timeline
.vacuum
SERVICE_ACCOUNT.JSON

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

.nx/installation
vite.config.*.timestamp*