# Ignore system files and secrets
*.db
*.db-wal
*.db-shm
*.log
*.yaml.backup
*.yaml.save
home-assistant_v2.db
home-assistant_v2*
home-assistant.log.*
OZW_Log.txt
http.oauth2.token_cache
tts
# Ignore secrets file
secrets.yaml

# Ignore custom_components, add the own custom components with a exception rule
custom_components

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore directories used by add-ons or integrations
.cloud/
.storage/
.dep/
.dashboards/

# Ignore idea
.idea
